soap/soap.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.example.com/soap/gen" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.com/soap/gen" targetNamespace="http://www.example.com/soap/gen">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.example.com/soap/gen">
            <!-- Find All Localidades by Provincia-->
            <xs:element name="getLocalidadesRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="provincia" type="tns:Provincia"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLocalidadesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="localidades" type="tns:Localidad"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!-- Find All Provincias-->
            <xs:element name="getProvinciasRequest">
                <xs:complexType>
                    <xs:sequence>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProvinciasResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="provincias" type="tns:Provincia"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Provincia">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="nombre" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ListaLocalidades">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="localidad" type="tns:Localidad"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Localidad">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="nombre" type="xs:string"/>
                    <xs:element name="provincia" type="tns:Provincia"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getLocalidadesResponse">
        <wsdl:part element="tns:getLocalidadesResponse" name="getLocalidadesResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getProvinciasRequest">
        <wsdl:part element="tns:getProvinciasRequest" name="getProvinciasRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getLocalidadesRequest">
        <wsdl:part element="tns:getLocalidadesRequest" name="getLocalidadesRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getProvinciasResponse">
        <wsdl:part element="tns:getProvinciasResponse" name="getProvinciasResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="provinciasPort">
        <wsdl:operation name="getLocalidades">
            <wsdl:input message="tns:getLocalidadesRequest" name="getLocalidadesRequest">
            </wsdl:input>
            <wsdl:output message="tns:getLocalidadesResponse" name="getLocalidadesResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getProvincias">
            <wsdl:input message="tns:getProvinciasRequest" name="getProvinciasRequest">
            </wsdl:input>
            <wsdl:output message="tns:getProvinciasResponse" name="getProvinciasResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="provinciasPortSoap11" type="tns:provinciasPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getLocalidades">
            <soap:operation soapAction=""/>
            <wsdl:input name="getLocalidadesRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getLocalidadesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getProvincias">
            <soap:operation soapAction=""/>
            <wsdl:input name="getProvinciasRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getProvinciasResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="provinciasPortService">
        <wsdl:port binding="tns:provinciasPortSoap11" name="provinciasPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>